# Ignore node_modules folder
node_modules


ecom-frontend/.phpunit.cache
ecom-frontend/node_modules
ecom-frontend/public/build
ecom-frontend/public/hot
ecom-frontend/public/storage
ecom-frontend/storage/*.key
ecom-frontend/vendor
ecom-frontend/.env
ecom-frontend/.env.backup
ecom-frontend/.env.production
ecom-frontend/.phpactor.json
ecom-frontend/.phpunit.result.cache
ecom-frontend/Homestead.json
ecom-frontend/Homestead.yaml
ecom-frontend/auth.json
ecom-frontend/npm-debug.log
ecom-frontend/yarn-error.log
ecom-frontend/.fleet
ecom-frontend/.idea
ecom-frontend/.vscode

ecom-backend/.phpunit.cache
ecom-backend/node_modules
ecom-backend/public/build
ecom-backend/public/hot
ecom-backend/public/storage
ecom-backend/storage/*.key
ecom-backend/vendor
ecom-backend/.env
ecom-backend/.env.backup
ecom-backend/.env.production
ecom-backend/.phpactor.json
ecom-backend/.phpunit.result.cache
ecom-backend/Homestead.json
ecom-backend/Homestead.yaml
ecom-backend/auth.json
ecom-backend/npm-debug.log
ecom-backend/yarn-error.log
ecom-backend/.fleet
ecom-backend/.idea
ecom-backend/.vscode